* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    min-height: 100dvh;
    flex:auto;
    background-image: url('images/snw.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    display:flex;
    justify-content: center;
    padding:16px;
    background-color: beige;
    font-family:monospace;
    font-size: 24px;
    width: 100%;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    background-color: rgb(189, 183, 183);
    padding:8px;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
    color:rgb(53, 44, 139);
    width:100%
    

}

.githubIcon {
    color:black;
    transition: 0.3s;
    font-size: 24px;
    display: flex;
}

.githubIcon:hover {
    color:rgb(97, 12, 146);
    font-size: 24px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height:800px;
    width:500px;
    border: 3px solid gold;
    gap:4px;
    border-radius: 5px;
}

.calc1, .calc2, .calc3, .calc4, .calc5 {
    display:flex;
    flex:1;
    justify-content: space-between;
    gap:4px;

}

.display {
    display: flex;
    flex-grow:3;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 200, 200);
    max-width: 375px;
    font-family: monospace;
}

.calcDiv, .calcMul, .calcSub, .calcSum, .calcEqu, .calcCle, .calcNum0,.calcDot , .calcNum1, .calcNum2, .calcNum3, .calcNum4, .calcNum5, .calcNum6, .calcNum7, .calcNum8, .calcNum9 {
    font-size: 50px;
    flex-grow: 1;
    min-width: 120.5px;
    max-width: 120.5px;
    transition: 0.2s;
}



button:hover{
    background-color: rgb(16, 83, 104);
    color:white;
}