@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    min-height: 100dvh;
    flex:auto;
    background-image: url('images/snw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display:flex;
    justify-content: center;
    padding:16px;
    background-color: beige;
    width: 100%;
    opacity: 70%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    background-color: rgb(189, 183, 183);
    padding:8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(53, 44, 139);
    width:100%;
    opacity: 70%;

}

.githubIcon {
    color:black;
    transition: 0.3s;
    font-size: 24px;
    display: flex;
}

.githubIcon:hover {
    color:rgb(97, 12, 146);
    font-size: 24px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height:800px;
    width:500px;
    border: 3px solid gold;
    gap:4px;
    border-radius: 5px;
}

.calcParts {
    display:flex;
    flex:1;
    justify-content: space-between;
    gap:4px;

}

.display {
    display: flex;
    flex-grow:3;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 200, 200);
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

button {
    font-size: 50px;
    flex-grow: 1;
    min-width: 120.5px;
    max-width: 120.5px;
    transition: 0.2s;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.calcDiv, .calcMul, .calcSum, .calcSub {
 background-color: darkseagreen;
}

.calcEqu {
 background-color: khaki;
}



button:hover{
    background-color: rgb(16, 83, 104);
    color:white;
}

.calcEqu:hover{
    background-color: rgb(93, 108, 177);
    color:black;
}

.calcDiv:hover, .calcMul:hover, .calcSum:hover, .calcSub:hover {
    background-color: rgb(94, 187, 199);
    color:black;
   }



